.country-info-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#dark .country-info-content{
    background-color: (86, 86, 86)
}

.info-button{
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    text-decoration: none;

    .button-info{
        width: 100px;
        border: none;
        background-color:white;
        box-shadow: 1px 1px 2px 2px rgb(200, 200, 200);
    
        &:hover{
            background-color: rgb(201, 201, 201);
            color: white;
        }
    }
}

#dark .button-info{
    background-color:rgb(151, 151, 151);
    box-shadow: none;
}

.data-info{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    left: 5%;

    .flag-img{
        width: 400px;
        height: 300px;
    }

    .country-name{
        margin-left: 100px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .name{
            font-weight: bold;
            font-size: 20px;
        }

        .info-description{
            display: flex;
            flex-direction: row;
            font-size: 14px;

            .right-info{
                margin-left: 50px;
            }
        }
    }
}
#dark .name{
    color: white;
}

.title{
    font-weight: bold;
    font-size: 15px;
}
#dark .title{
    color: white;
}

#dark .info-description{
    color:rgb(191, 191, 191)
}

.border-countries{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    .b-country{
        display: flex;
        flex-direction: row;
        border: none;
        .border-country{
            margin-left: 10px;
            box-shadow: 1px 1px 2px 2px rgb(200, 200, 200);
            font-size: 14px;
            padding: 1px;
        }
    }
}

#dark .border-country{
    box-shadow: none;
    border: 1px solid white;
    color: white;
}


@media (max-width: '415px') {
    .data-info{
        flex-direction: column;
        width: 90%;
        .flag-img{
            width: 100%;
            height: 200px;
        }

        .country-name{
            margin-left: 0;

            .info-description{
                flex-direction: column;

                .right-info{
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .border-countries{
        flex-direction: column;
        margin-top: 20px;

        .b-country{
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            width: 50%;
            margin-bottom: 50px;

            .border-country{
                margin-bottom: 10px;
            }
        }
    }
}
