#light{
    background-color: white;
}

#dark{
    background-color: rgb(78, 78, 78);
}

.switch{
    position: absolute;
    top: 10px;
    right: 10%;
}

@media (max-width: '415px'){
    .switch{
        top: 25px;
    }
}