.lightmode-content{
    height: 100vh;
    width: 100%;
}

#light .lightmode-content{
    background-color: rgb(230, 230, 230);
}

#dark .lightmode-content{
    background-color: rgb(86, 86, 86);
}

.search-dropdown{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 6%;
    z-index:9;
}

.grid-box{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    top: 20%;
    justify-content: space-between;
    padding: 10px;
}
#dark .grid-box{
    background-color: rgb(86, 86, 86);
}

.country-card{
    margin: 30px;
}

#dark .country-card{
    background-color: rgb(100, 100, 100);
}

.body-text{
    font-weight: bold;
    font-size: 15px;
}
#dark .body-text{
    color: white;
}

#dark .card-title{
    color: white;
}

#dark .card-text{
    color:rgba(193, 193, 193, 0.989)
}

.search-input{
    margin-left: 5%;
    border: none;
    height: 100%;
    box-shadow: 1px 1px 2px 2px rgb(200, 200, 200);
    width: 400px;
}

#dark .search-input{
    background-color: rgb(100, 100, 100);
    box-shadow: none;
    color: white;
}

.search-input:focus{
    outline: none;
}

.searchItem{
    width: 100%;
}

.dropdown {
    margin-right: 5%;
    position: relative;
}
  
.dropdown-button{
    border: none;
    width: 200px;
    height: 100%;
    box-shadow: 1px 1px 2px 2px rgb(200, 200, 200);
    z-index: 0;
}

#dark .dropdown-button{
    box-shadow: none;
    background-color: rgb(100, 100, 100);
    color: white;
}

.dropdown-button:hover{
    background-color: rgb(207, 207, 207);
}

.dropdown-items{
    background-color: white;
    position: relative;
    cursor: pointer;

    .dropdown-item:hover{
        background-color: rgb(207, 207, 207);
    }
}

#dark .dropdown-items{
    background-color: rgb(176, 176, 176);
}

#dark .dropdown-item:hover{
    background-color: rgb(240, 240, 240);
}

.search-results{
    position: relative;
    left: 10px;
    background: white;
    height: 150px;
    width: 100%;
    margin-left: 10px;
    top: 2px;
    display:flex;
    flex-direction: column;
    z-index: 9;

    .searchItem {
        width: 100%;
        color: black;
        text-decoration: none;
        z-index: 9;

        &:hover{
            background-color: rgb(207, 207, 207);
        }
      }
}

#dark .search-results{
    background-color: rgb(176, 176, 176);
}

#dark .searchItem{
    color: rgb(39, 39, 39);
}
#dark .searchItem:hover{
    background-color: rgb(240, 240, 240);
}


@media (max-width: '415px'){
    .grid-box{
        grid-template-columns: auto;
        top: 30%;
    }
    .search-dropdown{
        flex-direction: column;
    }
    
    .search-input{
        margin-left: 5%;
        margin-right: 5%;
        height: 45px;
        width: 90%;
    }

    .search-results{
        position: absolute;

        top: 48px;
        left: 10px;
        width: 90%;
    }
    .dropdown{
        position: absolute;
        display: flex;

    }

    .dropdown-button{
        margin-top: 20px;
        margin-left: 5%;
        height: 45px;
    }
    .dropdown-items{
        position: absolute;
        top: 60px;
        left: 5%;
        width: 51%;
    }
}