.nav-main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: white;
    justify-content: center;
}

#light .nav-main-content{
    background-color: white;
}
#dark .nav-main-content{
    background-color: rgb(100, 100, 100);
}

.nav-world-text{
    padding-top: 5px;
    padding-left: 10%;
    font-weight: bold;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

#dark .nav-world-text{
    color: white;
}

@media (max-width: '415px'){
    .nav-main-content{
        height: 75px;
    }
}